.NavbarMenu {
  // background-color: rgb(7, 65, 133);
  background-color: rgb(13, 99, 197);
  .Brand {
    color: rgb(201, 240, 26);
  }
  .Collapse {
    .Nav {
      .NavItem {
        .ItemLink {
          color: white;
          font-size: 18px;
        }
      }
    }
  }
}
