.NavbarMenu {
  background-color: rgb(13, 99, 197);
  .Brand {
    color: rgb(201, 240, 26)!important;
  }
    .Nav {
      .NavItem {
        .ItemLink {
          color: white;
          font-size: 18px;
        }
      }
    }
}
